<script type="text/javascript">
    $(document).ready(function() {
        $('#search_button').click(function() {
            q = $('#search_string').val();
            if(q != ''){
                $('#courses').html('&nbsp;').load('/courses/search?search_string='+ q);
                $('#banner').hide();
            }
        });
	return false;
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#universities a').click(function() {
            q=$(this).attr("href");
	    $.ajaxSetup({
  		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	    });
            if(q != ''){
                $('#courses').html('&nbsp;').load('/courses/search/'+ q);
                //$('#university-heading').html(q);
                $('#banner').hide();
            }
        });
	return false;
    });
/*
    $(document).ajaxStart(function() {
        $('#spinner').show();
    }).ajaxStop(function() {
        $('#spinner').hide();
    });
    */
</script>
<section class="filter" id="filter">
  <nav>
    <div class="dropdown university">
      <div class="filter-heading" id="university-heading">
        All Universities
      </div>
      <ul id="universities">
        %for university in universities:
        <li>
          <a href="${university}" onclick="return false">${university}</a>
        </li>
        %endfor
      </ul>
    </div>
<!--
    <div class="dropdown subject">
      <div class="filter-heading">
        All Subjects
      </div>
      <ul>
        <li>
          <a href="#">Computer Science</a>
        </li>
        <li>
          <a href="#">Other</a>
        </li>
      </ul>
    </div>

    <div class="dropdown featured">
      <div class="filter-heading">
        Newest
      </div>
      <ul>
        <li>
          <a href="#">Top Rated</a>
        </li>
        <li>
          <a href="#">Starting soonest</a>
        </li>
      </ul>
    </div>
-->
    <form class="search" method="POST" onsubmit="return false">
      <input name="search_string" id="search_string" type="text" placeholder="Search for courses">
      <input id="search_button" type="submit">
    </form>
  </nav>
</section>

