<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>Copyright</title></%block>

<section class="static-container copyright">
  <h1> Licensing Information </h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>Videos and Exercises</h2>
    <p> Copyright &copy; 2012 ${settings.PLATFORM_NAME}. All rights reserved. In order to further ${settings.PLATFORM_NAME}'s goal of making education accessible and affordable to the world, ${settings.PLATFORM_NAME} is planning to make <i>${settings.PLATFORM_NAME}</i> course content available under open source licenses.</p>

    <h2>Textbook</h2>
    <p> Copyright &copy; 2005 Elsevier Inc. All Rights Reserved. Used with permission. While our goal is to build courses with as much free and open content as possible, we apologize that we do not have the ability to do so entirely. </p>

    <h2>Student-generated content</h2>
    <p>Copyright &copy; 2013. All Rights Reserved. Due to privacy concerns, we do not know what portion of these will be released under open licenses.</p>
  </div>
</section>
