@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vivek\/edx_all\/edx-platform\/lms\/static\/team\/css\/noJS\.scss}line{font-family:\000032}}
.da-thumbs li a div {
  top: 0px;
  left: -100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/vivek\/edx_all\/edx-platform\/lms\/static\/team\/css\/noJS\.scss}line{font-family:\0000311}}
.da-thumbs li a:hover div {
  left: 0px; }
